/* 对所有元素的设置 */
*{
    font-family: KaiTi;
}

/* 商标动画结束后，组件浮现的动画 */
div {
    animation: start-show 4.5s ease-in 0s 1 none;
}
@keyframes start-show {
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* 标题 */
div#title{
    font-family: STXingkai;
    font-size: 150px;
    position: relative;
    left: 15%;
    margin: 50px;
}
/* 四个选项 */
div.start-page:not(#title){
    /* 文字大小 */
    font-size: 50px;
    /* 文字对齐 */
    text-align: center; vertical-align: bottom; align-content: center;
    /* 位置定位 */
    position: relative;
    left: 27%;
    /* 盒子模型设置 */
    width: 600px; height: 80px;
    margin: 30px;
    border: 2px black solid; border-radius: 20px;
    /* 颜色设置 */
}
/* 鼠标覆盖时变色 */
div.start-page:not(#title):hover{
    background-color: grey;
    cursor: pointer;
}

/* 规则说明页面 */
div.rule-intro{
    /* 显示设置 */
    z-index: -99; opacity : 0;
    /* 长度 */
    width: 60%; height: 90%;
    /* 定位 */
    position: absolute;
    left: 20%; top: 0%;
    /* 样式 */
    border-radius: 20px; border: 5px ; border-style: dashed;    
    font-size: 20px;
    /* 鼠标覆盖时变为手 */
    cursor: pointer;
    pointer-events: none;
}

/* 沙鼠证页面 */
form{
    /* 显示设置 */
    z-index: -99;  opacity: 0;
    /* 位置设置 */
    position: absolute;
    height: 60%;
    top: 50px;
    /* 字体设置 */
    font-size: 30px;
}
/* 美观的输入框 */
input{
    width: 30px; height: 30px;
}

/* 通知页面 */
#inform,#choice{
    /* 位置设置 */
    position: absolute;
    left: 25%; top: 30%;
    /* 大小设置 */
    height: 30%; width: 50%;
    /* 外观设置 */
    border: 4px black solid; background-color: white;
    /* 显示设置 */
    opacity: 0; z-index: -1;
}
/* 按钮点击变色 */
button{
    background-color:aqua;
}
button:active{
    background-color: grey;
}
/* 通知文字 */
#inform>div,#choice>div{
    position:relative; top:5%;
    text-align: center;
    font-size:20px;
}