h1{
    position: absolute;
    right: 40%;
}

img{
    display: block;
    flex-direction: row;
    /* position: relative;
    left: 3%; bottom: 5%; */
}
img:hover{
    opacity: 0.5;
    transition: opacity 2s ease-out;
}

div{
    display: inline-block;
}
div.img-intro{
    display: block;
    width: 30%;
}
