*{
    font-family: KaiTi;
    font-size: 20px;
}
h1,h2,p{
    text-align: center;
}

img{
    display: block;
    flex-direction: row;
    width: 100%; height: 70%;
    /* position: relative;
    left: 3%; bottom: 5%; */
}
img:hover{
    opacity: 0.5;
    transition: opacity 2s ease-out;
}

div{
    display: inline-block;
}
div.img-container{
    width: 50vh; height: 70vh;
    margin: 4vh;
}
div.img-intro{
    width: 100%;
}


/* 通知页面 */
#inform,#choice{
    /* 位置设置 */
    position: fixed;
    left: 60vh; top: 25vh;
    /* 大小设置 */
    height: 45vh; width: 70vh;
    /* 外观设置 */
    border: 4px black solid; background-color: white;
    /* 显示设置 */
    opacity: 0; z-index: -1;
    /* 文字设置 */
    overflow: scroll;
}
/* 按钮 */
button{
    display: inline-block;
    position: relative;top : 10%;
    width: 25%; height: 15%;
    background-color:aqua;
}
button:active{
    background-color: grey;
}
/*  */
#inform>div,#choice>div{
    display: block; margin-top: 10%;
    text-align: center;
    font-size:20px;
}